# direnv executes .envrc in bash and exports back to current shell.

# Create venv if needed and activate adding ansible testing environment.
uv sync --all-extras && source .venv/bin/activate
source ansible.env
