[submodule "roles/fonts"]
	path = roles/fonts
	url = https://github.com/r-pufky/ansible_fonts
[submodule "roles/github"]
	path = roles/github
	url = https://github.com/r-pufky/ansible_github
[submodule "roles/overseerr"]
	path = roles/overseerr
	url = https://github.com/r-pufky/ansible_overseerr
[submodule "roles/sonarr"]
	path = roles/sonarr
	url = https://github.com/r-pufky/ansible_sonarr
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/r-pufky/ansible_users
[submodule "roles/debian"]
	path = roles/debian
	url = https://github.com/r-pufky/ansible_debian
[submodule "roles/journald"]
	path = roles/journald
	url = https://github.com/r-pufky/ansible_journald
[submodule "roles/logrotate"]
	path = roles/logrotate
	url = https://github.com/r-pufky/ansible_logrotate
[submodule "roles/ssh"]
	path = roles/ssh
	url = https://github.com/r-pufky/ansible_ssh
[submodule "roles/ufw"]
	path = roles/ufw
	url = https://github.com/r-pufky/ansible_ufw
[submodule "roles/init"]
	path = roles/init
	url = https://github.com/r-pufky/ansible_init
[submodule "roles/systemd"]
	path = roles/systemd
	url = https://github.com/r-pufky/ansible_systemd
[submodule "roles/sqlite"]
	path = roles/sqlite
	url = https://github.com/r-pufky/ansible_sqlite
[submodule "roles/secure_boot"]
	path = roles/secure_boot
	url = https://github.com/r-pufky/ansible_secure_boot
[submodule "roles/firmware"]
	path = roles/firmware
	url = https://github.com/r-pufky/ansible_firmware
[submodule "roles/apt"]
	path = roles/apt
	url = https://github.com/r-pufky/ansible_apt
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/r-pufky/ansible_network
[submodule "roles/cron"]
	path = roles/cron
	url = https://github.com/r-pufky/ansible_cron
[submodule "roles/zfs"]
	path = roles/zfs
	url = https://github.com/r-pufky/ansible_zfs
[submodule "roles/nfs"]
	path = roles/nfs
	url = https://github.com/r-pufky/ansible_nfs
[submodule "roles/plex"]
	path = roles/plex
	url = https://github.com/r-pufky/ansible_plex
[submodule "roles/nzbget"]
	path = roles/nzbget
	url = https://github.com/r-pufky/ansible_nzbget
[submodule "roles/radarr"]
	path = roles/radarr
	url = https://github.com/r-pufky/ansible_radarr
[submodule "roles/lidarr"]
	path = roles/lidarr
	url = https://github.com/r-pufky/ansible_lidarr
[submodule "roles/readarr"]
	path = roles/readarr
	url = https://github.com/r-pufky/ansible_readarr
[submodule "roles/whisparr"]
	path = roles/whisparr
	url = https://github.com/r-pufky/ansible_whisparr
[submodule "roles/deluge"]
	path = roles/deluge
	url = https://github.com/r-pufky/ansible_deluge
[submodule "roles/gpu"]
	path = roles/gpu
	url = https://github.com/r-pufky/ansible_gpu
[submodule "roles/wireguard"]
	path = roles/wireguard
	url = https://github.com/r-pufky/ansible_wireguard
[submodule "roles/dropbear"]
	path = roles/dropbear
	url = https://github.com/r-pufky/ansible_dropbear
[submodule "roles/dnsrobocert"]
	path = roles/dnsrobocert
	url = https://github.com/r-pufky/ansible_dnsrobocert
[submodule "roles/vsftpd"]
	path = roles/vsftpd
	url = https://github.com/r-pufky/ansible_vsftpd
[submodule "roles/maria"]
	path = roles/maria
	url = https://github.com/r-pufky/ansible_maria
[submodule "roles/postgres"]
	path = roles/postgres
	url = https://github.com/r-pufky/ansible_postgres
[submodule "roles/paperless_ngx"]
	path = roles/paperless_ngx
	url = https://github.com/r-pufky/ansible_paperless_ngx
[submodule "roles/avenv"]
	path = roles/avenv
	url = https://github.com/r-pufky/ansible_avenv
[submodule "roles/gitea"]
	path = roles/gitea
	url = https://github.com/r-pufky/ansible_gitea
