[submodule "roles/sqlite"]
	path = roles/sqlite
	url = https://github.com/r-pufky/ansible_sqlite
[submodule "roles/gpu"]
	path = roles/gpu
	url = https://github.com/r-pufky/ansible_gpu
[submodule "roles/dnsrobocert"]
	path = roles/dnsrobocert
	url = https://github.com/r-pufky/ansible_dnsrobocert
[submodule "roles/vsftpd"]
	path = roles/vsftpd
	url = https://github.com/r-pufky/ansible_vsftpd
[submodule "roles/maria"]
	path = roles/maria
	url = https://github.com/r-pufky/ansible_maria
[submodule "roles/postgres"]
	path = roles/postgres
	url = https://github.com/r-pufky/ansible_postgres
[submodule "roles/codeberg"]
	path = roles/codeberg
	url = https://github.com/r-pufky/ansible_codeberg
[submodule "roles/forgejo"]
	path = roles/forgejo
	url = https://github.com/r-pufky/ansible_forgejo
[submodule "roles/pihole"]
	path = roles/pihole
	url = https://github.com/r-pufky/ansible_pihole
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/r-pufky/ansible_nginx
[submodule "roles/mongodb"]
	path = roles/mongodb
	url = https://github.com/r-pufky/ansible_mongodb
[submodule "roles/unifi"]
	path = roles/unifi
	url = https://github.com/r-pufky/ansible_unifi
[submodule "roles/mox"]
	path = roles/mox
	url = https://github.com/r-pufky/ansible_mox
[submodule "roles/traefik"]
	path = roles/traefik
	url = https://github.com/r-pufky/ansible_traefik
[submodule "roles/gcp_ddns"]
	path = roles/gcp_ddns
	url = https://github.com/r-pufky/ansible_gcp_ddns
