[submodule "roles/fonts"]
	path = roles/fonts
	url = https://github.com/r-pufky/ansible_fonts
[submodule "roles/github"]
	path = roles/github
	url = https://github.com/r-pufky/ansible_github
[submodule "roles/overseerr"]
	path = roles/overseerr
	url = https://github.com/r-pufky/ansible_overseerr
[submodule "roles/sonarr"]
	path = roles/sonarr
	url = https://github.com/r-pufky/ansible_sonarr
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/r-pufky/ansible_users
[submodule "roles/debian"]
	path = roles/debian
	url = https://github.com/r-pufky/ansible_debian
[submodule "roles/journald"]
	path = roles/journald
	url = https://github.com/r-pufky/ansible_journald
[submodule "roles/logrotate"]
	path = roles/logrotate
	url = https://github.com/r-pufky/ansible_logrotate
[submodule "roles/ssh"]
	path = roles/ssh
	url = https://github.com/r-pufky/ansible_ssh
[submodule "roles/ufw"]
	path = roles/ufw
	url = https://github.com/r-pufky/ansible_ufw
[submodule "roles/init"]
	path = roles/init
	url = https://github.com/r-pufky/ansible_init
[submodule "roles/systemd"]
	path = roles/systemd
	url = https://github.com/r-pufky/ansible_systemd
[submodule "roles/sqlite"]
	path = roles/sqlite
	url = https://github.com/r-pufky/ansible_sqlite
[submodule "roles/secure_boot"]
	path = roles/secure_boot
	url = https://github.com/r-pufky/ansible_secure_boot
[submodule "roles/firmware"]
	path = roles/firmware
	url = https://github.com/r-pufky/ansible_firmware
[submodule "roles/apt"]
	path = roles/apt
	url = https://github.com/r-pufky/ansible_apt
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/r-pufky/ansible_network
[submodule "roles/cron"]
	path = roles/cron
	url = https://github.com/r-pufky/ansible_cron
